/*.word {
  position: relative;
  white-space: nowrap;
  color: lightblue;
  text-shadow: 0 0 3px rgba(0, 0, 0, 1);
}

.word::after {
  content: attr(data-text);
  position: absolute;
  left: 0;
  top: 0;
  color: red;
  overflow: hidden;
  width: 40%;
  animation: run-text 5s linear;
  text-shadow: 0 0 3px rgba(255, 255, 255, 1);
}

@keyframes run-text {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
*/

.line {
  transition: all 0.5s;
  height: 2em;
  opacity: 1;
}
.line-hidden {
  height: 0;
  opacity: 0;
}
.text-line {
  position: relative;
}

.now {
  border-right: solid 2px var(--bs-primary);
  position: absolute;
  width: 1px;
  height: 1.5em;
  left: 0;
  transition: all 0.5s;
}
